**4. Write a python program: tuple1 = (10,50,20,40,30)**

i) To display the elements 10 and 50 from tuple1

In [ ]:
tuple1 = (10,50,20,40,30)
tuple1[:2]

(10, 50)

ii) To display the length of a tuple1.

In [ ]:
tuple1 = (10,50,20,40,30)
len(tuple1)

5

iii)To find the minimum element from tuple1.

In [ ]:
tuple1 = [10,50,20,40,30]
mini = tuple1[0]
for i in range(len(tuple1)):
  if tuple1[i] < mini:
    mini = tuple1(i)
  print(mini)

10
10
10
10
10

iv)To add all elements in tuple1

In [ ]:
tuple1 = [10,50,20,40,30]
print("The original tuple1 is : " + str(tuple1))
x = 0
for i in tuple1:
  x += i
print("The sum of tuple1 is : " + str(x))

The original tuple1 is : [10, 50, 20, 40, 30]
The sum of tuple1 is : 150

V) To display the same tuple1 multiple times

In [47]:
tuple1 = [10,50,20,40,30]
repeat_value = tuple1*5
print (repeat_value)

[10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30, 10, 50, 20, 40, 30]