In [32]:
import pandas as pd
df=pd.read_csv("titles.csv")
df

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

# 1. How many movies are listed in the titles dataframe?

In [2]:
titles= pd.read_csv('titles.csv')
titles

                                      title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]

# 2.What are the earliest two films listed in the titles dataframe

In [3]:
import pandas as pd

titles_sorted = titles.sort_values(by='year')

earliest_films = titles_sorted.head(2)

print(earliest_films)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# 3.How many movies have the title "Hamlet"

In [8]:
titles = pd.read_csv('titles.csv')

hamlet = titles[titles['title'] == 'Hamlet']

num_hamlet = len(hamlet)

print("Number of movies with the title 'Hamlet':", num_hamlet)

Number of movies with the title 'Hamlet': 20

# 4.How many movies are titled 'north by nortwest'

In [9]:
north_by_northwest = titles[titles['title'] == 'North by Northwest']
num_north_by_northwest = len(north_by_northwest)
print("Number of movies with the title 'North by Northwest':",num_north_by_northwest)

Number of movies with the title 'North by Northwest': 1

# 5.When was the first movie titled "Hamlet" made?

In [10]:
import pandas as pd

hamlet_movies = titles[titles['title'] == 'Hamlet']

hamlet_movies_sorted = hamlet_movies.sort_values(by='year')

first_hamlet_movie = hamlet_movies_sorted.head(1)

print("The first movie titled 'Hamlet' was made in:", first_hamlet_movie['year'].values[0])

The first movie titled 'Hamlet' was made in: 1910

# 6.List all of the "Treasure Island" movies from earliest to most recent.

In [11]:
import pandas as pd

treasure_island_movies = titles[titles['title'] == 'Treasure Island']

treasure_island_movies_sorted = treasure_island_movies.sort_values(by='year')

print(treasure_island_movies_sorted)

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

# 7.How many movies were made in the year 1950

In [12]:
import pandas as pd

movies_1950 = titles[titles['year'] == 1950]

num_movies_1950 = len(movies_1950)

print("Number of movies made in 1950:", num_movies_1950)

Number of movies made in 1950: 1113

# 8.How many movies were made in the year 1960

In [13]:
import pandas as pd

movies_1960 = titles[titles['year'] == 1960]

num_movies_1960 = len(movies_1960)

print("Number of movies made in 1960:", num_movies_1960)

Number of movies made in 1960: 1549

# 9.How many movies were made from 1950 through 1959

In [14]:
import pandas as pd

movies_1950s = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]

num_movies_1950s = len(movies_1950s)

print("Number of movies made from 1950 through 1959:", num_movies_1950s)

Number of movies made from 1950 through 1959: 12934

# 10.In what years has a movie titled "Batman" been released

In [15]:
import pandas as pd

batman_movies = titles[titles['title'] == 'Batman']

unique_years = batman_movies['year'].unique()

print("Years in which a movie titled 'Batman' has been released:", unique_years)

Years in which a movie titled 'Batman' has been released: [1943 1989]

# 11.How many roles were there in the movie "Inception"

In [20]:
cast = pd.read_csv('cast.csv')

import pandas as pd

inception_cast = cast[cast['title'] == 'Inception']

num_roles_inception = inception_cast['character'].nunique()

print("Number of roles in the movie 'Inception':", num_roles_inception)

Number of roles in the movie 'Inception': 56

# 12.How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [21]:
roles_without_n_value = len(inception_cast[(inception_cast['title'] == 'Inception') & (inception_cast['year'] == 2010) & inception_cast['n'].isna()])
print("Number of roles in 'Inception' without an 'n' value:", roles_without_n_value)

Number of roles in 'Inception' without an 'n' value: 27

# 13.How many roles in the movie "Inception" did receive an "n" value?

In [22]:
roles_with_n_value = len(inception_cast[(inception_cast['title'] == 'Inception') & (inception_cast['year'] == 2010) & inception_cast['n'].notna()])
print("Number of roles in 'Inception' with an 'n' value:", roles_with_n_value)

Number of roles in 'Inception' with an 'n' value: 51

# 14.Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [39]:
df=pd.read_csv("cast.csv")
df
north_by_northwest_cast = inception_cast[(inception_cast['title'] == 'North by Northwest')].dropna(subset=['n']).sort_values('n')
print("Cast of 'North by Northwest' in 'n' value order:")
print(north_by_northwest_cast[['name', 'n']])

Cast of 'North by Northwest' in 'n' value order:
Empty DataFrame
Columns: [name, n]
Index: []

# 15.Display the entire cast, in n-order, of the 1972 film "Sleuth"

In [26]:
sleuth_1972_cast = inception_cast[(inception_cast['title'] == 'Sleuth') & (inception_cast['year'] == 1972)].sort_values('n')
print("Cast of the 1972 film 'Sleuth' in 'n' value order:")
print(sleuth_1972_cast[['name', 'n']])

Cast of the 1972 film 'Sleuth' in 'n' value order:
Empty DataFrame
Columns: [name, n]
Index: []

# 16.Display the entire cast, in "n"-order, of the 2007 version of "Sleuth"

In [27]:
sleuth_2007_cast = inception_cast[(inception_cast['title'] == 'Sleuth') & (inception_cast['year'] == 2007)].sort_values('n')
print("Cast of the 2007 version of 'Sleuth' in 'n' value order:")
print(sleuth_2007_cast[['name', 'n']])

Cast of the 2007 version of 'Sleuth' in 'n' value order:
Empty DataFrame
Columns: [name, n]
Index: []

# 17.How many roles were credited in the silent 1921 version of Hamlet?

In [28]:
roles_hamlet_1921 = len(inception_cast[(inception_cast['title'] == 'Hamlet') & (inception_cast['year'] == 1921)])
print("Number of roles credited in the silent 1921 version of 'Hamlet':", roles_hamlet_1921)

Number of roles credited in the silent 1921 version of 'Hamlet': 0

# 18.How many roles were credited in Branagh's 1996 Hamlet?

In [29]:
roles_hamlet_1996 = len(inception_cast[(inception_cast['title'] == 'Hamlet') & (inception_cast['year'] == 1996)])
print("Number of roles credited in Branagh's 1996 'Hamlet':", roles_hamlet_1996)

Number of roles credited in Branagh's 1996 'Hamlet': 0

# 19.How many "Hamlet" roles have been Rated in all film credits through history?

In [33]:
hamlet_roles = len(inception_cast[(inception_cast['title'] == 'Hamlet') & inception_cast['n'].notna()])
print("Number of 'Hamlet' roles with an 'n' value through history:", hamlet_roles)

Number of 'Hamlet' roles with an 'n' value through history: 0

# 20.How many people have played an "Ophelia"?

In [34]:
ophelia_roles = len(inception_cast[(inception_cast['character'] == 'Ophelia')])
unique_ophelia_actors = len(inception_cast[(inception_cast['character'] == 'Ophelia')]['name'].unique())
print("Number of roles as 'Ophelia':", ophelia_roles)
print("Number of unique actors who played 'Ophelia':", unique_ophelia_actors)

Number of roles as 'Ophelia': 0
Number of unique actors who played 'Ophelia': 0

# 21.How many people have played a role called "The Dude"?

In [40]:
dude_roles = cast[cast['character'] == 'The Dude']
num_dude_actors = len(dude_roles['name'].unique())
print("Number of people who have played a role called 'The Dude':", num_dude_actors)

Number of people who have played a role called 'The Dude': 19

# 22.How many people have played a role called "The Stranger"?

In [41]:
stranger_roles = cast[cast['character'] == 'The Stranger']
num_stranger_actors = len(stranger_roles['name'].unique())
print("Number of people who have played a role called 'The Stranger':", num_stranger_actors)

Number of people who have played a role called 'The Stranger': 202

# 23.How many roles has Sidney Poitier played throughout his career?

In [42]:
sidney_poitier_roles = len(cast[cast['name'] == 'Sidney Poitier'])
print("Number of roles Sidney Poitier has played throughout his career:", sidney_poitier_roles)

Number of roles Sidney Poitier has played throughout his career: 43

# 24.How many roles has Judi Dench played?

In [43]:
judi_dench_roles = len(cast[cast['name'] == 'Judi Dench'])
print("Number of roles Judi Dench has played:", judi_dench_roles)

Number of roles Judi Dench has played: 55

# 25.List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [44]:
cary_grant_supporting_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] // 10 == 194)]
supporting_roles_by_year = cary_grant_supporting_1940s.sort_values('year')
print("Supporting roles played by Cary Grant in the 1940s, in order by year:")
print(supporting_roles_by_year[['character', 'year']])

Supporting roles played by Cary Grant in the 1940s, in order by year:
          character  year
871423   Nick Arden  1940
871433  Roger Adams  1941

# 26.List the leading roles that Cary Grant played in the 1940s in order by year.

In [45]:
cary_grant_leading_1940s = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] // 10 == 194)]
leading_roles_by_year = cary_grant_leading_1940s.sort_values('year')
print("Leading roles played by Cary Grant in the 1940s, in order by year:")
print(leading_roles_by_year[['character', 'year']])

Leading roles played by Cary Grant in the 1940s, in order by year:
                                   character  year
871448                           Matt Howard  1940
871407                          Walter Burns  1940
871450                    C. K. Dexter Haven  1940
871438                      Johnnie Aysgarth  1941
871452                          Leopold Dilg  1942
871429                 Patrick 'Pat' O'Toole  1942
871398                         Capt. Cassidy  1943
871422  Joe Adams -posing as Joe Bascopolous  1943
871430                           Jerry Flynn  1944
871390                     Mortimer Brewster  1944
871425                            Ernie Mott  1944
871424                           Cole Porter  1946
871427                                Devlin  1946
871444                           Dick Nugent  1947
871445                                Dudley  1947
871421                         Jim Blandings  1948
871402                     Dr. Madison Brown  1948
871411                 Captain Henri Rochard  1949

# 27.How many roles were available for actors in the 1950s?

In [46]:
roles_1950s_actors = len(cast[(cast['year'] // 10 == 1950) & (cast['type'] == 'actor')])
print("Number of roles available for actors in the 1950s:", roles_1950s_actors)

Number of roles available for actors in the 1950s: 0

# 28.How many roles were available for actresses in the 1950s?

In [47]:
roles_1950s_actresses = len(cast[(cast['year'] // 10 == 1950) & (cast['type'] == 'actress')])
print("Number of roles available for actresses in the 1950s:", roles_1950s_actresses)

Number of roles available for actresses in the 1950s: 0

# 29.How many leading roles (n=1) were available from the beginning of film history through 1980?

In [48]:
leading_roles_through_1980 = len(cast[(cast['n'] == 1) & (cast['year'] <= 1980)])
print("Number of leading roles (n=1) available through 1980:", leading_roles_through_1980)

Number of leading roles (n=1) available through 1980: 65140

# 30.How many non-leading roles were available from the beginning of film history through 1980?

In [49]:
non_leading_roles_through_1980 = len(cast[(cast['n'] != 1) & (cast['year'] <= 1980)])
print("Number of non-leading roles available through 1980:", non_leading_roles_through_1980)

Number of non-leading roles available through 1980: 1117667

# 31.How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [50]:
roles_without_n_rank_through_1980 = len(cast[(cast['n'].isna()) & (cast['year'] <= 1980)])
print("Number of roles through 1980 without a numeric 'n' rank:", roles_without_n_rank_through_1980)

Number of roles through 1980 without a numeric 'n' rank: 448347