5.**Write a python program:**

i) To calculate the length of a string

In [8]:
Str1 = "South India"
print (len(Str1))

11

ii)To reverse words in a string

In [10]:
Str1 = "South India"
Str1 = Str1 [::-1]
print (Str1)

aidnI htuoS

iii)To Display the same string multiple times

In [16]:
Str1 = ["South India"]
Str1 = 3 * (Str1)
print(Str1)

['South India', 'South India', 'South India']

iv)To  concatenate two strings

In [21]:
Str1 = "South"
Str2 = "India"
Str3 = (Str1+Str2)
print (Str3)

SouthIndia

V)Str1="South India",using string slicing to display"India"

In [24]:
Str1 = "South India"
S = Str1[5:]
print (S)

 India