**2. Write a python program to do in the tuples**.

i) Manipulate using tuples.

In [1]:
my_tuple = ("Car","Van","Bus")
print (my_tuple)

('Car', 'Van', 'Bus')

ii) To add new elements to the end of the tuples.

In [12]:
my_tuple = ("car","van","bus")
y = ("lorry",)
my_tuple += y
print(my_tuple)

('car', 'van', 'bus', 'lorry')

iii) To reverse elements in the tuples.

In [21]:
 my_tuple = ("java","python","c","Html")
 print("The original tuple is: ",my_tuple)
 my_tuple = tuple(reversed(my_tuple))
 print("Th reversed tuple is : ",my_tuple)

The original tuple is:  ('java', 'python', 'c', 'Html')
Th reversed tuple is :  ('Html', 'c', 'python', 'java')

iv) To display the elements of the same tuple multiple times.

In [30]:
my_tuple = ["python"]
my_tuple = 5 * (my_tuple)
print(my_tuple)

['python', 'python', 'python', 'python', 'python']

v) To concatenate two tuples

In [34]:
my_tuple1 = ("car","bus","van")
my_tuple2 = ("sun","moon","star")
my_tuple3 = my_tuple1 + my_tuple2
print(my_tuple3)

('car', 'bus', 'van', 'sun', 'moon', 'star')

vi) To sort the elements in the tuples in ascending order.

In [36]:
my_tuple = ["pineapple","apple","orange","banana"]
my_tuple.sort()
print (my_tuple)

['apple', 'banana', 'orange', 'pineapple']