# 1. Implement Inventory Management in Python with MySQL

a) Inventory management, a critical element of the supply chain, is the tracking of inventory from manufacturers to warehouses and from these facilities to a point of sale. The goal of inventory management is to have the right products in the right place at the right time.

b) The required Database is Inventory, and the required Tables are Purchases, Sales and Inventory

c) Note: Apply your thoughts to demonstrate the DB Operation in Python.

In [1]:
import mysql.connector
conn = mysql.connector.connect(
    user="root",
    password="Sivaneshsri@1520",
    host="127.0.0.1",
    database="inventory_management")
print(conn)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002DBB251A550>

In [2]:
cursor = conn.cursor()
cursor

In [ ]:
cursor.execute("CREATE TABLE Purchases (id INT AUTO_INCREMENT PRIMARY KEY,product_name VARCHAR(255) NOT NULL,quantity INT NOT NULL)")
cursor.execute("CREATE TABLE Sales (id INT AUTO_INCREMENT PRIMARY KEY,product_name VARCHAR(255) NOT NULL,quantity INT NOT NULL)")
cursor.execute("CREATE TABLE Inventory (id INT AUTO_INCREMENT PRIMARY KEY,product_name VARCHAR(255) NOT NULL,quantity INT NOT NULL)")

In [ ]:
cursor.execute("alter table purchases add column products_date Date NOT NULL")

In [ ]:
cursor.execute("alter table Sales add column sale_date Date NOT NULL")

In [ ]:
insert_purchase_query = "INSERT INTO Purchases (id,product_name, quantity, products_date) VALUES (%s,%s, %s, %s)"
insert_purchase_query = "INSERT INTO Sales (id,product_name, quantity, sale_date) VALUES (%s,%s, %s, %s)"
purchase_data = [(1,"Product A", 100, "2023-09-15"),(2,"Product B", 100, "2023-09-15")]
sales_data = [(1,"Product A", 100, "2023-09-15"),(2,"Product B", 100, "2023-09-15")]
cursor.executemany(insert_purchase_query, purchase_data)
conn.commit()

In [9]:
select_sample_query = "SELECT * FROM Purchases"
cursor.execute(select_sample_query)
sample_data = cursor.fetchall()
for row in sample_data:
    print(row)

cursor.close()
conn.close()

ProgrammingError: 2055: Cursor is not connected