# 4. You are developing an employee management system for a company. The database should store employee information, including name, salary, department, and hire date. Managers should be able to view and update employee details.

1.Design the database schema for the employee management system.

2.Write Python code to connect to the database and retrieve a list of employees in a specific department

3.Implement a feature to update an employee's salary

In [2]:
import mysql.connector
db = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Sivaneshsri@1520",
    database="Employee_management")
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001D1227BB410>

In [3]:
cursor = db.cursor()
cursor

In [ ]:
cursor.execute("CREATE TABLE Employees(Name VARCHAR(255) NOT NULL,Salary INT NOT NULL,Hire_Date DATE NOT NULL)")
cursor.execute("alter table Employees add column department VARCHAR(55)")
cursor.execute('INSERT INTO Employees (Name,Salary,Hire_Date,Department) VALUES ("Achu",2500,"2023-09-15","HR")')
db.commit()

In [4]:
import mysql.connector
try:
    db_config = {
        "host": "localhost",
        "user": "root",
        "password": "Sivaneshsri@1520",
        "database": "Employee_managament"
    }
    conn = mysql.connector.connect(**db_config)
    cursor = conn.cursor()
    target_department = "HR"
    query = "SELECT name, salary, hire_date FROM Employees WHERE department = %s"
    cursor.execute(query, (target_department,))
    employees = cursor.fetchall()
    for employee in employees:
        name, salary, hire_date = employee
        print(f"Name: {name}, Salary: {salary}, Hire Date: {hire_date}")
except mysql.connector.Error as err:
    print(f"Error: {err}")
except Exception as e:
    print(f"An error occurred: {e}")

Error: 1049 (42000): Unknown database 'employee_managament'

In [5]:
employee_name = "John Doe"
new_salary = 60000.00
update_query = "UPDATE Employees SET salary = %s WHERE name = %s"
cursor.execute(update_query, (new_salary, employee_name))
db.commit()
print(f"{employee_name}'s salary updated to {new_salary:.2f}")

ProgrammingError: 1146 (42S02): Table 'employee_management.employees' doesn't exist