**6.Write a python program to print the table of any number.**

In [6]:
def table(n):
    for i in range (1, 11):
        print ("%d * %d = %d" % (n, i, n * i))
n = 3
table(n)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30